.section-loading{
    position: relative;
    overflow: hidden;
    border-radius: 8px; /* Ajusta el radio de borde según tu diseño */
    /* Sombra suave */
    animation: loading .5s infinite alternate-reverse; /* Animación de 1.5 segundos, repetición infinita */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255) 0%, /* Cambia los valores de los colores para hacerlo más gris */
      rgba(250, 250, 250) 100%, /* Cambia los valores de los colores para hacerlo más gris */
      rgba(255, 255, 255) 100% /* Cambia los valores de los colores para hacerlo más gris */
    );
    background-size: 200% 100%; /* Doble ancho para el gradiente */
  }
  
  @keyframes loading {
    0% {
      background-position: left; /* Comienza desde la izquierda */
    }
    100% {
      background-position: right; /* Termina en la derecha */
    }
  }