<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
		table, td, div, h1, p {font-family: Arial, sans-serif;}
		button:hover{
			cursor: pointer;
		}
	</style>
</head>
<body>

    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
		<tr>
			<td align="center" style="padding:0;">
				<table role="presentation" style="width:602px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;">
					<tr>
						<td align="center" style="padding:40px 0 30px 0;background:#FFFFFF;">
							<img src="https://udgfvlqwkrriakrdeehq.supabase.co/storage/v1/object/public/assets/logo-sat.png" alt="" width="150px" style="height:auto;display:block;" />
						</td>
					</tr>
					<tr>
						<td style="padding:42px 30px 42px 30px;">
							<table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
								<tr>
									<td style="padding:0 0 36px 0;color:#153643;">
                                        <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif; color: #00529E;">¡Qué gusto verte por aquí!</h1>
										<p>Bienvenido de nuevo, inicia sesión en SAT<span style="color: #00529E;">Learn</span> al dar clic en el siguiente botón, serás redireccionado a tu cuenta...</p>
										<a href="{{ .ConfirmationURL }}"><button style="background:#00529E; padding: 10px 35px; color: #FFFFFF; border: none; border-radius: 10px; font-size: 16px; font-weight: 600;">Iniciar sesión</button></a>
										<p style="font-size: 13px; font-weight: 600;"><i>El acceso solo es válido durante 5 minutos</i></p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					
					<tr>
						<td style="padding:30px;background:#00529E;">
							<table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Arial,sans-serif;">
								<tr>
									<td style="padding:0;width:50%;" align="left">
										<p style="margin:0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#ffffff;">
                                            <span style="font-weight: 600;">Servicio de Administración Tributaria(SAT)</span>
										</p>
                                        <p style="margin:0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#ffffff;">
                                            &reg; SAT Learn 2023
                                        </p>
									</td>
                                									
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>    
</body>
</html>
