@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "helvetica-bold";
    src: url("../src/assets/fonts/Helvetica Neu Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-light";
    src: url("../src/assets/fonts/HelveticaNeue Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-medium";
    src: url("../src/assets/fonts/HelveticaNeue Medium.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-extra-light";
    src: url("../src/assets/fonts/HelveticaNeue.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

.gradient-login{
    background: radial-gradient(circle, rgba(150,176,255,1) 0%, rgba(255,255,255,1) 69%)
}